* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.delete {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

.delete:hover {
    color: darkred;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#scrollTopBtn:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .todo-container {
        padding: 15px;
    }

    input[type="text"] {
        width: 60%;
    }
}

.button-container {
    position: fixed; 
    top: 20px; 
    left: 20px; 
    display: flex; 
    gap: 10px;
}


.button {
    background-color: #4CAF50;
    padding: 10px 20px; 
    border-radius: 5px; 
    color: white; 
    text-decoration: none;
    font-size: 16px; 
    transition: background-color 0.3s; 
}


.button:hover {
    background-color: #45a049;
}